<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aeologic.adhoc.flutter_peachpay_plugin"
xmlns:tools="http://schemas.android.com/tools"
xmlns:android="http://schemas.android.com/apk/res/android">

<uses-permission android:name="android.permission.INTERNET"/>

<application
    android:allowBackup="false"
    android:supportsRtl="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:theme="@style/AppTheme">

    <receiver
        android:name=".receiver.CheckoutBroadcastReceiver"
        android:exported="false" />

    <service
        android:name="com.oppwa.mobile.connect.service.ConnectService"
        android:exported="false"/>

    <activity
        android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
        tools:replace="android:theme"
        android:theme="@style/CustomCheckoutTheme"
        android:windowSoftInputMode="adjustResize"
        android:exported="false"
        android:launchMode="singleTop"/>


    <activity
        android:name=".activity.CheckoutUIActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">

        <intent-filter>
            <data android:scheme="@string/checkout_ui_callback_scheme"/>

            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>

    </activity>

    <activity
        android:name=".activity.PaymentButtonActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">

        <intent-filter>
            <data android:scheme="@string/payment_button_callback_scheme"/>

            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>

    </activity>

    <activity
        android:name=".activity.CustomUIActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">

        <intent-filter>
            <data android:scheme="@string/custom_ui_callback_scheme"/>

            <action android:name="android.intent.action.VIEW"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>

    </activity>

</application>

</manifest>